html {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

body {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #032100;
}

table {
    border-collapse: collapse;
}

.brow {
    border-width: 1px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: none;
    border-right-style: none;
}

.bb {
    border-width: 1px;
    border-left-style: dotted;
    border-right-style: dotted;
}

.br {
    border-width: 1px;
    border-left-style: none;
    border-right-style: dotted;
}

.bl {
    border-width: 1px;
    border-left-style: dotted;
    border-right-style: none;
}

.fbb {
    border-width: 1px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
}

.fbr {
    border-width: 1px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: none;
    border-right-style: dotted;
}

.fbud {
    border-width: 1px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: none;
    border-right-style: none;
}


td {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
    padding: 3px;
}

font {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}

textarea {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}

a {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	color: #229106;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	color: #36e809;
	font-weight: bold;
	text-decoration: underline;
}

a:visited {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	color: #229106;
	font-weight: bold;
	text-decoration: bold;
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10pt;
	background: #F7FFE6;
	outline: 1px dotted #1C6EA4;
	outline-offset: 2px;

}

blockquote {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	background: #E6FBFF;
	outline: 1px solid #1C6EA4;
	outline-offset: 2px;

}

pre {
    font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

button,.button {
    border: 1px dotted;
}